<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>Eckovation course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="stylesheet" href="/css/style.css">
 {{> styleholder}}
</head>

<body>

  {{#each everything}}
                  <tr>
                      <td>
                        <h1>{{@key}}  <a   href="/course/{{this._id}}">{{this.courseName}}</a></h1>
                      </td>
                  </tr>
  {{/each}}
<div id="left"></div>





</body>

</html>
